* {
    background-color: #0B6E4F;
    font-family: Arial;
    font-size: 20px;
}

.header {
    font-size: 210px;
    color: #FA9F42;
}

.header.two {
    font-size: 60px;   
}

.header.three {
    font-size: 30px;
}

.main_body_text {
    font-size: 30px;
    color: #E0E0E2;
}

.link {
    font-size: 35px;
    color: #FA9F42; 
}

.image {
    height: auto;
    width: 240px;
}

